[color]
  ui = true
[alias]
  s = status
  ci = commit
  b = branch -v
  plr = pull --rebase
  d = diff
  co = checkout
  cp = cherry-pick
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  head = !git --no-pager log origin/master..HEAD --abbrev-commit --pretty=oneline
  find = !sh -c 'git ls-tree -r --name-only HEAD | grep --color $1' -
  cleanb = !git branch --merged master | grep -v 'master$' | xargs git branch -d
  suball = !git submodule update --init --recursive && git submodule foreach --recursive 'rm -rf .git'
  ignore = update-index --assume-unchanged
  no-ignore = update-index --no-assume-unchanged
[branch]
  autosetupmerge = true
[push]
  default = tracking
[advice]
  statusHints = false
[merge]
  keepBackup = false
  prompt = false
[commit]
  gpgsign = true
